@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.search {
    display: flex;
    justify-content: space-between;
    width: 585px;

    &__filter {
        width: 121.49px;
        height: 36px;
        background: #FFFEFB;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        outline: none;
        border: none;
        color: #B4B4B4;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        cursor: pointer;
    }
}

.form {

    &__input {
        background: #FFFEFB;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        border: none;
        padding: 10px 14px;
        font-size: 12px;
        line-height: 15px;
        outline: none;
        width: 284px;
        height: 36px;
        box-sizing: border-box;
    }

    &__button {
        width: 121px;
        height: 36px;
        background: #457EC1;
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
    }
}